/target/
.DS_Store
.idea/
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
vcs.xml
test.html
ide.general.xml
ide-features-trainer.xml
databaseSettings.xml
dependency-reduced-pom.xml
debugger.xml
.checkstyle
checkstyle.xml
.idea/workspace.xml


compiler.xml
suppression.xml
logs/
